# Preprocessing NYC Uber Datasets
### Saloni Sharma

***
### Dataset 1: Uber 2014
_(April - September)_ <br>
This dataset is a combined .csv file of each month's data.

In [1]:
import pandas as pd

In [2]:
# Import raw dataset .csv file into df
uber2014 = pd.read_csv("uber-apr-sept-14.csv")

In [3]:
# View attributes (column name strings)
list(uber2014.columns)

['Date/Time', 'Lat', 'Lon', 'Base']

In [4]:
# View size of dataset
uber2014.shape

(4534327, 4)

In [5]:
# View general stats about dataset
pd.options.display.float_format = '{:,.5f}'.format #suppress scientific notation
uber2014.describe()

                  Lat             Lon
count 4,534,327.00000 4,534,327.00000
mean         40.73926       -73.97302
std           0.03995         0.05727
min          39.65690       -74.92900
25%          40.72110       -73.99650
50%          40.74220       -73.98340
75%          40.76100       -73.96530
max          42.11660       -72.06660

In [6]:
# Check for missing values
uber2014.isnull().sum()

Date/Time    0
Lat          0
Lon          0
Base         0
dtype: int64

In [7]:
# There are no missing or outlier values to remove
# However, we will not be using column 'Base', therefore, the attribute is removed below
uber2014_processed = uber2014.drop('Base', axis=1)

In [8]:
# Export processed dataframe to a new .csv file
uber2014_processed.to_csv('uber14-processed.csv', index=False)

***
### Dataset 2: Uber 2015
_(January - June)_ <br>
This dataset uses the raw .csv dataset provided by the resource.

In [1]:
import pandas as pd

In [2]:
# Import raw dataset .csv file into df
uber2015 = pd.read_csv("uber-raw-data-janjune-15.csv")

In [3]:
# View size of dataset
uber2015.shape

(14270479, 4)

In [4]:
# View attribute names (column name strings)
list(uber2015.columns)

['Dispatching_base_num', 'Pickup_date', 'Affiliated_base_num', 'locationID']

In [5]:
# View general stats about dataset
pd.options.display.float_format = '{:,.5f}'.format #suppress scientific notation format
uber2015.describe()

            locationID
count 14,270,479.00000
mean         152.05738
std           71.59620
min            1.00000
25%           92.00000
50%          157.00000
75%          230.00000
max          265.00000

In [6]:
# Check for missing values
uber2015.isnull().sum()

Dispatching_base_num         0
Pickup_date                  0
Affiliated_base_num     162195
locationID                   0
dtype: int64

In [7]:
# Affiliated_base_num will not be utilized, therefore, the missing values do not affect analysis
# Remove 'Affiliated_base_num' and 'Dispatching_base_num' columns
uber2015_processed = uber2015.drop(['Dispatching_base_num', 'Affiliated_base_num'],axis=1)

In [8]:
# Export processed dataframe to a new .csv file 
uber2015_processed.to_csv('uber15-processed.csv', index=False)

### Neighbourhood Lookup File
This section processes the NYC taxi zone (neighbourhood) lookup .csv file.
This will be used for location data analysis with the Uber data sets.

In [1]:
import pandas as pd

# Import .csv file into df
taxi_zones = pd.read_csv("taxi_zone_lookup.csv")

In [2]:
# Attributes
list(taxi_zones.columns)

['LocationID', 'Borough', 'Zone', 'service_zone']

In [3]:
taxi_zones.shape #dimensions of data set

(265, 4)

In [4]:
taxi_zones.describe() #general stats for taxi_zones

       LocationID
count  265.000000
mean   133.000000
std     76.643112
min      1.000000
25%     67.000000
50%    133.000000
75%    199.000000
max    265.000000

In [5]:
taxi_zones.isnull().sum() #check for missing values

LocationID      0
Borough         0
Zone            1
service_zone    2
dtype: int64

In [6]:
# Print row where 'Zone' is null
taxi_zones[taxi_zones['Zone'].isnull()]

     LocationID  Borough Zone service_zone
264         265  Unknown  NaN          NaN

In [7]:
# Remove row with null value (since the other info/columns are not useful)
taxi_zones_processed = taxi_zones.dropna(subset=['Zone'])

# Check that there are no more missing values in 'Zone'
taxi_zones_processed.isnull().sum()

LocationID      0
Borough         0
Zone            0
service_zone    1
dtype: int64

In [8]:
# Remove 'service_zone' column as that will not be used
taxi_zones_processed = taxi_zones_processed.drop('service_zone', axis=1)

In [9]:
# Export processed df to a new .csv file 
taxi_zones_processed.to_csv('taxi_zones_processed.csv', index=False)

### Shapefile
This shapefile will be utilized in plotting the map for Uber data for location analysis.

In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
# Load shapefile
taxi_zones_map = gpd.read_file("nyc_taxi_zones/nyc_taxi_zones.shp")
taxi_zones_map.head()

,objectid,shape_leng,shape_area,zone,locationid,borough,geometry
0,1,0.116357,0.000782,Newark Airport,1,EWR,"POLYGON ((-74.18445 40.69500, -74.18449 40.695..."
1,2,0.433470,0.004866,Jamaica Bay,2,Queens,"MULTIPOLYGON (((-73.82338 40.63899, -73.82277 ..."
2,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx,"POLYGON ((-73.84793 40.87134, -73.84725 40.870..."
3,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((-73.97177 40.72582, -73.97179 40.725..."
4,5,0.092146,0.000498,Arden Heights,5,Staten Island,"POLYGON ((-74.17422 40.56257, -74.17349 40.562..."

In [3]:
# Remove unneeded columns from shapefile
taxi_zones_map = taxi_zones_map.drop(['objectid', 'shape_leng', 'shape_area', 'borough'], axis=1)

In [4]:
# Rename column so it matches datasets
taxi_zones_map.rename(columns = {'locationid':'locationID'}, inplace = True)

In [5]:
taxi_zones_map.head()

,zone,locationID,geometry
0,Newark Airport,1,"POLYGON ((-74.18445 40.69500, -74.18449 40.695..."
1,Jamaica Bay,2,"MULTIPOLYGON (((-73.82338 40.63899, -73.82277 ..."
2,Allerton/Pelham Gardens,3,"POLYGON ((-73.84793 40.87134, -73.84725 40.870..."
3,Alphabet City,4,"POLYGON ((-73.97177 40.72582, -73.97179 40.725..."
4,Arden Heights,5,"POLYGON ((-74.17422 40.56257, -74.17349 40.562..."

In [6]:
# Export as shapefile (will also create additional supporting files)
taxi_zones_map.to_file('zones_map.shp', driver='ESRI Shapefile')